[Desktop Entry]
Encoding=UTF-8
Name=Lightpaycoin
Comment=Lightpaycoin P2P Cryptocurrency
Comment[fr]=Lightpaycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lightpaycoin, eşten eşe kriptografik sanal para birimi
Exec=supra-qt %u
Terminal=false
Type=Application
Icon=supra128
MimeType=x-scheme-handler/supra;
Categories=Office;Finance;
