[Unit]
Description=Supra's distributed currency daemon
After=network.target

[Service]
User=supra
Group=supra

Type=forking
PIDFile=/var/lib/suprad/suprad.pid

ExecStart=/usr/bin/suprad -daemon -pid=/var/lib/suprad/suprad.pid \
          -conf=/etc/supra/supra.conf -datadir=/var/lib/suprad

ExecStop=-/usr/bin/supra-cli -conf=/etc/supra/supra.conf \
         -datadir=/var/lib/suprad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
